<% provide(:title, 'Create Post') %>
<h1>Create Post</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :Title %>
      <%= f.text_field :zagolovok, placeholder: "Compose new title..." %>

      <%= f.label :Content %>
      <%= f.text_area :content, placeholder: "Compose new post..." %>

      <%= f.label :Tags %>
      <%= f.text_field :tag_list, placeholder: "Separate by commas" %>

      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
